/*
Theme Name: Realia
Theme URI: http://wp.realia.byaviators.com
Description: Responsive Real Estate WordPress Theme
Author: Aviators
Author URI: http://byaviators.com
Version: 2.2.0
Tags: real estate, agent, front end submission, property, directory
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl.html
*/

/*
For CSS processing we are using SASS files located in assets/sass. If you familiar with the SASS
feel free to compile our code. If not please write here your custom CSS to overwrite our code.
*/

.center             { text-align: center; }
.aligncenter        { margin: auto; text-align: center; margin-bottom: 22px; display: block !important;}
.alignleft          { float: left; margin: 0px 30px 22px 0px;  }
.alignright         { float: right; margin: 0px 0px 22px 30px; }

.left               { float:left;  }
.right              { float:right; }

small               { font-size: 11px; line-height: 14px; }
strong              { font-weight: bold;}
b                   { font-weight: bold; }

.normal             { font-weight: normal; }
.hidden             { display: none; }
.wp-caption         { }
.wp-caption-text    { }
.sticky             { }
.gallery-caption    { }
.bypostauthor       { }