<div class="property">
    <div class="image">
        <div class="content">
            <a href="{{ wp.get_permalink(property.ID) }}"></a>
            {% if wp.get_the_post_thumbnail(property.ID) %}
                {{ wp.get_the_post_thumbnail(property.ID)|raw }}
            {% else %}
                <img src="{{ wp.get_template_directory_uri() }}/assets/img/property-tmp-small.png" alt="{{ property.post_title }}">
            {% endif %}
        </div><!-- /.content -->

        {% if wp.aviators_settings_get_value('properties', 'common', 'disable_contract_type_label') != 'on' %}
            {% if property.meta._property_contract_type.0 %}
                <div class="rent-sale">
                    {% if property.meta._property_contract_type.0 == 'sale' %}
                        {{ wp.__('Sale', 'aviators') }}
                    {% elseif property.meta._property_contract_type.0 == 'rent' %}
                        {{ wp.__('Rent', 'aviators') }}
                    {% endif %}
                </div><!-- /.rent-sale -->
            {% endif %}
        {% endif %}

        <div class="price">{{ wp.aviators_price_format(property.meta._property_price.0) }}</div><!-- /.price -->

        {% if property.meta._property_reduced.0 %}
            <div class="reduced">{{ wp.__('Reduced', 'aviators') }}</div><!-- /.reduced -->
        {% endif %}
    </div><!-- /.image -->

    <div class="title">
        <h2><a href="{{ wp.get_permalink(property.ID) }}">
            {% if property.meta._property_title.0 %}
                {{ property.meta._property_title.0 }}
            {% else %}
                {{ property.post_title }}
            {% endif %}
        </a></h2>
    </div><!-- /.title -->

    <div class="location">{{ property.location.0.name }}</div><!-- /.location -->

    {% if property.meta._property_area.0 %}
        <div class="area">
            <span class="key">{{ wp.__('Area', 'aviators') }}:</span><!-- /.key -->
            <span class="value">{{ property.meta._property_area.0 }}{{ wp.aviators_settings_get_value('properties', 'units', 'area')|raw }}</span><!-- /.value -->
        </div><!-- /.area -->
    {% endif %}

    {% if property.meta._property_bathrooms.0 %}
        <div class="bathrooms" title="{{ wp.__('Bathrooms', 'aviators') }}"><div class="content">{{ property.meta._property_bathrooms.0 }}</div></div><!-- /.bathrooms -->
    {% endif %}0

    {% if property.meta._property_bedrooms.0 %}
        <div class="bedrooms" title="{{ wp.__('Bedrooms', 'aviators') }}"><div class="content">{{ property.meta._property_bedrooms.0 }}</div></div><!-- /.bedrooms -->
    {% endif %}
</div>