.add-submission { margin-top: 25px; }

.submissions-table { border-collapse: separate;
  thead {
    tr {
      th { padding: 10px; white-space: nowrap; }
    }
  }
  tbody {
    tr {
      td { background-color: #fff; border: 0px; border-bottom: 1px solid #cccccc; vertical-align: middle; padding: 10px;
        &.thumbnail { border-radius: 0px; display: table-cell; }
        &.title { font-weight: bold; }
        &.status {
          strong { color: red; }
          .publish { color: #58b85a; }
        }
        &.actions {
          a { margin: 0px 5px; }
          .edit { @include transition(opacity .2s linear); background-image: url('../img/edit.png'); background-position: center center; background-repeat: no-repeat; display: inline-block; height: 18px; opacity: 0.7; text-indent: -9999px; width: 18px;
            &:hover { opacity: 1; }
          }
          .remove { @include transition(opacity .2s linear); background-image: url('../img/remove.png'); background-position: center center; background-repeat: no-repeat; display: inline-block; height: 18px; opacity: 0.7; text-indent: -9999px; width: 18px;
            &:hover { opacity: 1; }
          }
          .publish { @include transition(opacity .2s linear); background-image: url('../img/publish.png'); background-position: center center; background-repeat: no-repeat; display: inline-block; height: 20px; opacity: 0.7; text-indent: -9999px; width: 19px;
            &:hover { opacity: 1; }
          }
          .unpublish { @include transition(opacity .2s linear); background-image: url('../img/unpublish.png'); background-position: center center; background-repeat: no-repeat; display: inline-block; height: 20px; opacity: 0.7; text-indent: -9999px; width: 19px;
            &:hover { opacity: 1; }
          }
          .view { @include transition(opacity .2s linear); background-image: url('../img/view.png'); background-position: center center; background-repeat: no-repeat; display: inline-block; height: 11px; opacity: 0.7; text-indent: -9999px; width: 22px;
            &:hover { opacity: 1; }
          }
        }
      }

      &.sep {
        td { background-color: transparent; border: 0px; }
      }
    }
  }
}