<h1 class="page-header">{{ post.post_title }}</h1>

<form method="post" action="" enctype="multipart/form-data" class="submission-form form-horizontal">
    {{ form.content|raw }}
    {{ form.metabox._setup() }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{ wp.__('Save', 'aviators') }}">
    </div>
</form>