$black: #313131;
$black-dark: #1b1b1b;
$black-darker: #000000;

$blue: #541c32;
$blue-light: #541c32;
$blue-medium: #02344a;
$blue-dark: #022a3b;
$blue-darker: #02293a;

$gray: #707070;
$gray-dark: #818181;
$gray-medium: #d5d5d5;
$gray-light: #b5b5b5;
$gray-lighter: #f0f0f0;
$cream: #e3e3dc;
$cream-accent: #dbd5c7;
$cream-dark: #504f46;
$white: #ffffff;

$red: #541c32;

@import 'default';